---
const { title, pubDate, description, author, image, tags } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <article>
      <header>
        <h1>{title}</h1>
        <p><strong>Published on:</strong> {pubDate}</p>
        <p><strong>Author:</strong> {author}</p>
        <p><strong>Description:</strong> {description}</p>
        <img src={image.url} alt={image.alt} width="300" />
        <ul>
          {tags.map(tag => <li>{tag}</li>)}
        </ul>
      </header>
      <slot />
    </article>
  </body>
</html>
