---
import BaseLayout from './BaseLayout.astro';
const { title, author, pubDate, image, description } = Astro.props;
---

<BaseLayout title={title}>
  <article>
    <header>
      <h1>{title}</h1>
      <p><strong>By:</strong> {author} | <strong>Published:</strong> {pubDate}</p>
      {image && (
        <img src={image.url} alt={image.alt} width="400" />
      )}
    </header>
    <main>
      <slot />
    </main>
  </article>
</BaseLayout>

